@charset "UTF-8";
:root {
    --darker: #0D0D0D;
    --dark: #595959;
    --light: #D9D9D9;
    --redish: #BF0B3B;
    --redisher: #731022;
    --font1: normal 1.2rem arial;
    --font2: normal .9rem arial;
}
* {
    font: var(--font1);
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100vw;
    background: linear-gradient(45deg, #BF0B3B, #bf0b3bea, #bf0b3bdc, #bf0b3bd4) no-repeat fixed;
    /*animation: toptobottom 5s linear infinite;*/
    > footer {
        position: sticky;
        top: 100vh;
    }
}
/*.background {
    background: white url(images/waves.jpg) center center no-repeat fixed;
    animation: toBottom 10s linear;
    position: absolute;
}
@keyframes toBottom {
    from {
        top: -500px;
    }
    to {
        bottom: 100%;
    }
}*/
img {
    padding: 40px 0 20px;
}
header {
    margin: auto;
    padding-bottom: 20px;
}
p {
    font: var(--font2);
}
main {
    padding: 0 10px 45px;
}
li {
    padding: 10px;
}
button {
    box-shadow: 8px 8px black;
    border: 2px solid black;
    width: clamp(100px, 100%, 600px); /*clamp(min, preferred, max)*/
    height: 45px;
    cursor: pointer;
}
button:hover {
    box-shadow: 6px 6px black;
    transform: translate(2px, 2px);
}
button:active {
    box-shadow: 4px 4px black;
    transform: translate(4px, 4px);
}
a {
    color: black;
    font: 1rem arial;
    text-decoration: none;
    padding: 10px;
}
footer {
    background: rgba(0, 0, 0, 0.094);
    padding: 20px 0;
    width: 100vw;
}