@charset "UTF-8";
:root {
    --darker: #0D0D0D;
    --dark: #595959;
    --light: #D9D9D9;
    --redish: #BF0B3B;
    --redisher: #731022;
}
* {
    font: normal 1.2rem arial;
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    /*width: clamp(400px, 50%, 500px); /*clamp(min, preferred, max)*/
    margin: auto;
    background: linear-gradient(45deg, #BF0B3B, #bf0b3bea, #bf0b3bdc, #bf0b3bd4);
    background-size: fixed;
    /*animation: toptobottom 5s linear infinite;*/
}
/*.background {
    background: white url(#) center center no-repeat fixed;
    animation: toptobottom 90s linear infinite;
}*/
p {
    font-size: .9rem;
}
header {
    margin: auto;
    padding-bottom: 20px;
}
img {
    padding: 10px;
}
li {
    padding: 10px;
}
button {
    background-color: white;
    box-shadow: 8px 8px black;
    max-width: 800px;
    min-width: 300px;
    height: 40px;
    margin: auto;
    cursor: pointer;
    border: 2px solid black;
}
button:hover {
    box-shadow: 6px 6px black;
    transform: translate(2px, 2px);
}
button:active {
    box-shadow: 4px 4px black;
    transform: translate(4px, 4px);
}
a {
    color: inherit;
    font:  1rem arial;
    text-decoration: none;
    padding: 10px;
}
footer {
    padding: 50px;
}
@keyframes toptobottom {
    0% {
        background-position: top;
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: bottom;
    }
}